body, html {
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
td {
    text-align: center;
    vertical-align: middle;
    font-size: 78px;
    width: 20%;
    height: 20%;
    cursor: pointer;
}
td:hover {
    background-color: rgb(89, 238, 99);
}
.beBlue{
    background-color: lightblue;
}
.beRed{
    background-color: rgb(251, 109, 15);
}
.inputBox {

    
    display: flex;
    align-items: center;
    justify-content: space-between; /* 使元素間距均勻 */
    padding: 10px; /* 添加內邊距 */
    background-color: #f0f0f0; /* 背景顏色 */
    border: 1px solid #ccc; /* 邊框顏色 */
    border-radius: 10px; /* 邊框圓角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影 */
}

#pageTitle {
    margin: 0;
    font-size: 24px;
    color: #333;
}

#titleSelect {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#resetButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#resetButton:hover {
    background-color: #45a049;
}

#resetButton:active {
    background-color: #3e8e41;
}

.tableBox{
    height: 100vh;
}